rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
		
    function isSelf(userId) {
      return request.auth.uid == userId;
    }

		// so the app doesn't crash before I take it out
		match /test/{id} {
    	allow read;
    }
    
    match /users/{id}/{document=**} {
    	allow read, write: if isAuthenticated() && isSelf(id);
    }
  }
}